:root{
    ---color1: #de4632;
    ---color2: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(---color1);
}
header{
    color: var(---color2);
}
header h1{
    padding: 20px;
    font-size: 4rem;
}
header p{
    padding: 0 20px 20px 20px;
    font-size: 2rem;
}
.sheet-style-container{
    margin: 0 13px 0 13px;
    background: var(---color2);
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
}
nav{
    position: absolute;
    right: 0;
    top: 20px;
}
.sheet-infos{
    padding: 17px 8px;
}
.sheet-infos h1{
    color: var(---color1);
    font-size: 1.6rem;
    margin-bottom: 15px;
}
.sheet-infos a{
    text-decoration: none;
    color: var(---color1);
}
.sheet-infos a:hover{
    text-decoration: underline;
}
.sheet-infos h2{
    color: var(---color1);
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
nav ul{
    list-style: none;
}
nav li{
    margin: 10px;
    border: 1px solid var(---color1);
    padding: 5px;
    border-radius: 15px;
    background: var(---color1);
}
ul a{
    text-decoration: none;
    color: var(---color2);
    font-weight: bold;
}
li a:hover:not(#li a){
    background: var(---color2);
    color: var(---color1);
}
#li a{
    background: var(---color2);
    color: var(---color1);
    font-weight: bold;
}
ul #li{
    background: var(---color2);
}